.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0%);
  z-index: 9999;
  height: 20vh;
}

.modalContent {
  height: 30vh;
  width: 100vw;
  z-index: 999;
  overflow: auto;
  outline: none;
  z-index: 9999;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.mainContainer {
  margin-top: 150px;
  height: 10px;
  width: fit-content;
  background-color: white;
  position: relative;
  height: fit-content;
  width: 300px;
  background-color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.267);
}

.crossIcon {
  height: 20px;
  position: absolute;
  left: 20px;
  z-index: 99999999999;
  filter: hue-rotate(190deg);
}

.errorText {
  margin-left: 25px;
  font-weight: 400;
}
