.formContainer {
  overflow-y: auto;
  margin-top: 105px;
  position: fixed;
  z-index: 9999;
  height: fit-content;
  max-height: calc(100vh - 250px);
  width: 300px;
  background-color: #fff;
  padding: 15px 25px;
  border-radius: 25px;
  box-shadow: 0 8px 24px #00000040;
}

.formContainer::-webkit-scrollbar {
  display: none;
}

input {
  border-radius: 30px;
  width: 100%;
  padding: 10px;
  margin: 4px 0;
  border: none;

  box-sizing: border-box;
  font-size: 1em;
}

h2 {
  color: var(--secondary-color);
}
#miInputId {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "quicksand";
  width: 100%;
  max-width: 300px;
  margin-top: 10px;
  color: #fff;
  font-size: 0.85rem;
  padding: 10px 40px;
  border-radius: 100px;

  cursor: pointer;
  background-color: var(--secondary-color);
  text-decoration: none;
  font-weight: 700;
}

.submitbtn {
  justify-content: center;
}
.codigo {
  display: grid;
  grid-template-columns: 1fr 15fr;
  align-items: center;
}
.whatsapp {
  display: grid;
  grid-template-columns: 1fr 15fr;
  align-items: center;
}
.privacidad {
  display: grid;
  grid-template-columns: 1fr 15fr;
  align-items: center;
}
.aplicarbtn {
  color: #fff !important;
  font-family: "quicksand";
  font-size: 0.85rem;
  padding: 10px 40px;
  border-radius: 0px 50px 50px 0px;
  border: none;
  cursor: pointer;

  background-color: var(--secondary-color);
  text-decoration: none;
  height: 30px;
  box-shadow: 0 0 0 0;
}

.aplicar {
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.codigoPromocionalInput {
  background-color: white;
  border-radius: 50px 0px 0px 50px;
  height: 30px;
}

.nombreApellidos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.options {
  width: 100%;
  border-radius: 50px;
  padding: 10px;
  background-color: var(--secondary-color);
  text-align: center;
  font-family: "quicksand";
  margin-bottom: 5px;
}

.individualOption {
  background-color: var(--secondary-color);
  text-align: center;
  width: 100px;
}

.modalOverlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0%);
}

.modalContent {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999;
  overflow: auto;
  outline: none;
}
.everything {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 999;
  background-color: #00000048;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.formObject {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 0px;
}

label {
  font-size: 0.85rem;
}

.bottomContainer {
  margin-top: 10px;
  background-color: #eeeeee;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bottomLabels {
  font-size: 0.75rem;
}
