.viewport {
  height: fit-content;
  min-height: 70vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.homeHeader {
  margin: 0;
  padding-top: 100px;
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  z-index: 99;
}

.homeHeader > p {
  font-size: 1.6rem;
  font-weight: 400;
}

span.deliveryAdress {
  font-weight: 700;
}

.borderImg {
  width: 100%;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .borderImg {
    translate: 0 -4px;
  }
}
