.mapWrapper {
  width: 100%;
  height: 400px;
  margin-top: 10px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.mapContainer {
  width: 100%;
  height: 100%;
}
