.modalOverlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0%);
}

.everything {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999;
  overflow: auto;
  outline: none;

  background-color: #00000034;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999;
  overflow: auto;
  outline: none;
}

.modalSecondaryContent {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999;
  overflow: auto;
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContainer {
  position: relative;
  height: fit-content;
  width: 300px;
  background-color: white;
  border-radius: 25px;
  z-index: 9999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 5px;
}

.confirmButton {
  background-color: var(--secondary-color);
  color: white;
  border-radius: 25px;
  width: 100%;
  font-weight: bold;
  font-size: 15px;
  padding: 0 20px;
  transition: 0.2s;
  font-family: "quicksand";
}

.confirmButton:hover {
  background-color: white;
  scale: 1.02;
  color: var(--secondary-color);
  box-shadow: 0 0 16px 0px var(--secondary-color);
  animation: PulsingShadow 2s;
  animation-iteration-count: infinite;
}

@keyframes PulsingShadow {
  from {
    box-shadow: 0 -1px 16px 0px var(--secondary-color);
  }
  50% {
    box-shadow: 0 1px 13px 2px var(--secondary-color);
  }
  to {
    box-shadow: 0 -1px 16px 0px var(--secondary-color);
  }
}

.itemContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.itemContainerInner {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.individualItemContainer {
  background-color: var(--secondary-color-lighter);
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 25px;
  width: 120px;
  height: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: border 0.4s;
}

.individualItemContainer:hover {
  border: 2px solid var(--secondary-color);
}

span {
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 5px;
  width: 100%;
  display: block;
  overflow: hidden;
}

.individualItemContainer > b {
  padding: 3px;
}

.modifiableItem {
  cursor: pointer;
  transition: 0.2s;
  font-size: 0.85rem;
}

.modifiableItem:hover {
  color: var(--secondary-color);
}

.icon {
  height: 25px;
  background-color: rgb(254, 244, 169);
  border-radius: 100%;
  padding: 3px;
}

.deliveryInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  margin: 0px 0 10px 0px;
  justify-content: center;
  align-items: center;
  width: 85%;
  background-color: #eeeeee;
  border-radius: 20px;
}

.deliveryInfoElement {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: flex-start;
  width: 100%;
  gap: 5px;
}

b {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.closeButton {
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  height: 20px;
  width: 20px;
  background-color: var(--secondary-color);
  box-shadow: 0 0 0 0;
  color: white;
  font-size: 10px;
}

.animationConfirmation {
  position: fixed;
  z-index: 99999999999;
  width: 400px;
  height: 400px;
  background-color: var(--secondary-color);
  border-radius: 100%;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(70px);
}

.transportContainer {
  margin: 10px;
  display: flex;
  bottom: 50px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 1px 5px;
  border-radius: 50px;
  width: 88%;
  padding: 3px 15px;
}
