.faqContainer {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header {
  margin: 0;
  padding-top: 100px;
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  z-index: 99;
}

.header > h1 {
  padding: 30px;
  padding-bottom: 50px;
}

.faqsContainer {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.faq {
  border-radius: 25px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 350px;
  box-shadow: 0 0 50px 7px rgba(0, 0, 0, 0.123);
}

.faqQuestion {
  font-weight: 600;
  font-size: 0.9rem;
  background-color: var(--secondary-color);
  width: fit-content;
  padding: 10px 15px;
  color: white;
  border-radius: 25px;
}

.faqAnswer {
  font-size: 0.8rem;
}
