.mainContainer {
  width: 100%;
  height: calc(fit-content + 600px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: 0;
  padding: 0;
  gap: 10px;
  overflow: hidden;
}

.restaurantGrid {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  gap: 30px;
  max-width: 1000px;
  padding: 40px;
}

.mainContainer > h2 {
  color: var(--secondary-color);
}
