.viewport {
  height: fit-content;
  width: calc(100vw - var(--scrollbarWidth));
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header {
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -99;
  top: 0;
}

.headerBackgroundImg {
  object-fit: cover;
  width: 100%;
  filter: blur(8px) brightness(0.8);
}

.headerBackgroundContainer {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}

.content {
  position: absolute;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 98%;
  height: 200px;
  max-width: 1100px;
}

address {
  font-size: 0.7rem;
  font-weight: 700;
  color: white;
  display: flex;
  align-items: center;
  translate: 5px 35px;
}

span {
  font-weight: 400;
}

main {
  width: 98%;
  max-width: 1100px;
  height: fit-content;
  min-height: 50vh;
  display: flex;
  top: 250px;
  z-index: 2;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 230px;
  padding-bottom: 100px;
}

.mainRestaurantContent {
  width: calc(100% - 270px);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.restaurantHeader {
  width: 100%;
  height: 150px;
  background-color: white;
  border-radius: 10px 50px 10px 10px;
  box-shadow: 0 0 50px 7px rgba(0, 0, 0, 0.123);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-weight: 700;
  font-size: 1.3rem;
}

.restaurantHeader > h1 {
  font-size: 2rem;
  font-weight: 700;
  padding: 10px 30px;
}

.description {
  padding: 10px 30px;
  font-size: 0.8rem;
  display: flex;
  gap: 15px;
}

.productGrid {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px 0;
}

@media only screen and (max-width: 700px) {
  .productGrid {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 15px 0;
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  .productGrid {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 15px 0;
    flex-direction: column;
  }

  address {
    padding-left: 20px;
  }

  main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mainRestaurantContent {
    width: 90%;
  }
}
